In [61]:
import pandas as pd
import numpy as np

In [62]:
data=pd.read_csv('ct_dataset.csv')
df=data.copy()

In [63]:
df.shape

(100, 2)

In [64]:
df.dtypes

Subjective Social Class Identity    object
Objective Social Class Positions    object
dtype: object

In [65]:
df.describe()

       Subjective Social Class Identity Objective Social Class Positions
count                               100                               98
unique                                5                                2
top                        Middle Class               Upper Middle Class
freq                                 45                               50

In [66]:
df.head()

  Subjective Social Class Identity Objective Social Class Positions
0                             Poor                              NaN
1                    Working Class                    Working Class
2                    Working Class                    Working Class
3                    Working Class                    Working Class
4                    Working Class                    Working Class

## Making Contingency Table through crosstab function

In [67]:
contingency_table= pd.crosstab(index=df['Subjective Social Class Identity'], 
                            columns=df['Objective Social Class Positions'],
                             margins=True)

In [68]:
contingency_table

Objective Social Class Positions  Upper Middle Class  Working Class  All
Subjective Social Class Identity
Middle Class                                      13             32   45
Upper Middle Class                                37              8   45
Working Class                                      0              8    8
All                                               50             48   98

## Making Contingency Table through pivot_table function

In [70]:
df['Count']=1
pivoted=pd.pivot_table(df,index=['Subjective Social Class Identity'],values=['Count'],
               columns=["Objective Social Class Positions"],aggfunc=[np.sum],fill_value=0,margins=True)
pivoted

                                                sum
                                              Count
Objective Social Class Positions Upper Middle Class Working Class All
Subjective Social Class Identity
Middle Class                                     13            32  45
Upper Middle Class                               37             8  45
Working Class                                     0             8   8
All                                              50            48  98